#left-btn,#right-btn {
    z-index: 999;
    position: absolute;
    top: 525px;
    font-family: monospace;
    font-size: 40px;
    opacity: 0.8;
    color: #ffffff;
    background: #4444447f;
}

#left-btn {
    left: 785px;
}

#right-btn {
    left: 925px;
}

#up-btn,#down-btn {
    z-index: 999;
    position: absolute;
    left: 855px;
    font-family: monospace;
    font-size: 40px;
    opacity: 0.8;
    color: #ffffff;
    background: #4444447f;
}

#up-btn {
    top: 470px;
}

#down-btn {
    top: 580px;
}

#zoomin-btn,#zoomout-btn {
    z-index: 999;
    position: absolute;
    left: 20px;
    font-family: monospace;
    font-size: 40px;
    opacity: 0.8;
    color: #ffffff;
    background: #4444447f;
}

#zoomin-btn {
    top: 250px;
}

#zoomout-btn {
    top: 350px;
}

#rst-btn {
    z-index: 999;
    position: absolute;
    top: 100px;
    left: 920px;
    font-family: monospace;
    font-size: 40px;
    opacity: 0.8;
    color: #ffff44;
    background: #4444447f;
}

#bye-btn {
    z-index: 999;
    position: absolute;
    top: 100px;
    left: 750px;
    font-family: monospace;
    font-size: 40px;
    opacity: 0.8;
    color: #ff4444;
    background: #4444447f;
}

